<div data-controller="hello">
  <h1>Admin::Tops#index</h1>
  <p>Find me in app/views/admin/tops/index.html.erb</p>
  <button data-action="click->hello#greet">Greet</button>
</div>

<div data-controller="demo">
  <h1>Admin::Tops#index</h1>
  <button data-action="click->demo#demo">demo</button>
</div>

